/*  This file is part of BNS Featured Tag
    Last revised at version 2.6

    Copyright 2009-2014  Edward Caissie  (email : edward.caissie@gmail.com)

    BNS Featured Tag is free software; you can redistribute it and/or modify it
    under the terms of the GNU General Public License, version 2, as published
    by the Free Software Foundation.

    You may NOT assume that you can use any other version of the GPL.

    BNS Featured Tag is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
    or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.

    You should have received a copy of the GNU General Public License along with
    this program; if not, write to:

        Free Software Foundation, Inc.
        51 Franklin St, Fifth Floor
        Boston, MA  02110-1301  USA
*/
table.bnsft-counts,
table.bnsft-thumbnails {
	width: 100%;
}

table.bnsft-counts input,
table.bnsft-counts select {
	width: 85%;
}

.bnsft-all-options-open,
.bnsft-more-options-open,
.bnsft-thumbnails-open,
.bnsft-excerpt-option-open {
	display: block;
}

.bnsft-all-options-closed,
.bnsft-more-options-closed,
.bnsft-thumbnails-closed,
.bnsft-excerpt-option-closed {
	display: none;
}